
* {
	outline: none;
}

html,
body {
	height: 100%;
	min-height: 100%;
	
}

body {
	margin: 0;
	background-color: #ffd8d8;
}

.tb {
	display: table;
	width: 200%;
}

.td {
	display: table-cell;
	vertical-align: middle;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input,
button {
	color: #fff;
	font-family: Nunito;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
}
#About{
	margin-top:100px;
	width:80%;
	margin-left:150px; 
	background-color:#e16868; 
	padding-bottom: 50px;
	border: 5px black;
	border-style: solid;
	border-radius: 30px;
}
#cover {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 850px;
	padding: 35px;
	margin: -83px auto 0 auto;
	background-color: #ff7575;
	border-radius: 20px;
	box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
	transform: scale(0.6);
}

form {
	height: 96px;
}

input[type="text"] {
	width: 300%;
	height: 96px;
	font-size: 60px;
	line-height: 1;
}

input[type="text"]::placeholder {
	color: #e16868;
}

#s-cover {
	width: 1px;
	padding-left: 35px;
}

button {
	position: relative;
	display: block;
	width: 84px;
	height: 96px;
	cursor: pointer;
}

#s-circle {
	position: relative;
	top: -8px;
	left: 0;
	width: 43px;
	height: 43px;
	margin-top: 0;
	border-width: 15px;
	border: 15px solid #fff;
	background-color: transparent;
	border-radius: 50%;
	transition: 0.5s ease all;
}

button span {
	position: absolute;
	top: 68px;
	left: 43px;
	display: block;
	width: 45px;
	height: 15px;
	background-color: transparent;
	border-radius: 10px;
	transform: rotateZ(52deg);
	transition: 0.5s ease all;
}

button span:before,
button span:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 45px;
	height: 15px;
	background-color: #fff;
	border-radius: 10px;
	transform: rotateZ(0);
	transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
	top: -1px;
	width: 67px;
	height: 15px;
	border-width: 0;
	background-color: #fff;
	border-radius: 20px;
}

#s-cover:hover span {
	top: 50%;
	left: 56px;
	width: 25px;
	margin-top: -9px;
	transform: rotateZ(0);
}

#s-cover:hover button span:before {
	bottom: 11px;
	transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
	bottom: -11px;
	transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
	right: -6px;
	width: 40px;
	background-color: #fff;
}

* {
	outline: none;
}

html,
body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	background-color: #ffd8d8;
}

.tb {
	display: table;
	width: 100%;
}

.td {
	display: table-cell;
	vertical-align: middle;
}

input,
button {
	color: #fff;
	font-family: Nunito;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
}

#cover {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 550px;
	padding: 35px;
	margin: -83px auto 0 auto;
	background-color: #ff7575;
	border-radius: 20px;
	box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
	transform: scale(0.6);
}

form {
	height: 96px;
}

input[type="text"] {
	width: 100%;
	height: 96px;
	font-size: 60px;
	line-height: 1;
}

input[type="text"]::placeholder {
	color: #e16868;
}

#s-cover {
	width: 1px;
	padding-left: 35px;
}

button {
	position: relative;
	display: block;
	width: 84px;
	height: 96px;
	cursor: pointer;
}

#s-circle {
	position: relative;
	top: -8px;
	left: 0;
	width: 43px;
	height: 43px;
	margin-top: 0;
	border-width: 15px;
	border: 15px solid #fff;
	background-color: transparent;
	border-radius: 50%;
	transition: 0.5s ease all;
}

button span {
	position: absolute;
	top: 68px;
	left: 43px;
	display: block;
	width: 45px;
	height: 15px;
	background-color: transparent;
	border-radius: 10px;
	transform: rotateZ(52deg);
	transition: 0.5s ease all;
}

button span:before,
button span:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 45px;
	height: 15px;
	background-color: #fff;
	border-radius: 10px;
	transform: rotateZ(0);
	transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
	top: -1px;
	width: 67px;
	height: 15px;
	border-width: 0;
	background-color: #fff;
	border-radius: 20px;
}

#s-cover:hover span {
	top: 50%;
	left: 56px;
	width: 25px;
	margin-top: -9px;
	transform: rotateZ(0);
}

#s-cover:hover button span:before {
	bottom: 11px;
	transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
	bottom: -11px;
	transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
	right: -6px;
	width: 40px;
	background-color: #fff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  text-align: center;
}

.main-nav {
  list-style-type: none;
  display: none;
  align-items: center;
  text-align: center;
}

.nav-links,
.logo {
	text-align: center;
  text-decoration: none;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  align-items: center;
  margin: 15px auto;

}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  align-items: center;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  text-align: center;
}

.active {
	text-align: center;
  display: block;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.article{
	width:900px;
	margin:30px;
	padding:12px;
	background:#efefef;
	border-radius:5px;
  }
  .image{
	background:silver;
	width:500px;
	height:400px;
	border-radius:5px;
	padding:20px;
	color:#efefef;
	font-size:8rem;
  }
	.right{
	  float:right;
	  margin-left:20px;
	}
	.left{
	  float:left;
	  margin-right:30px;
	}
  .content{
	padding: 0 20px;
	color:#444;
  }
  






body {
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}

#content {
position: relative;
align-items: center;
}

.card {
    min-width: 100%;
    justify-content: center;
    position: relative;
    display: flex;
    gap: 20px;
    place-items: center;
}

.card div {
  min-width: 50%;
  max-width: 50%;
  
}

.imgDiv img {
    max-width: 100%;
    max-height: 300px;
    
}

@media only screen and (max-width: 600px) {
  .card {
    display: block;
  }
  .card div {
    min-width: 90%;
  }
}
